.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;

  z-index: 4;
  display: flex;
  width: 720px;
  height: 718px;
  //   padding: 40px 40px 614px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: #1c1c21;
}
