.main {
  margin-top: 40px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.tab {
  margin-top: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
border: 1px solid yellow;
}

.h2 {
  margin-top: 40px;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid teal;
  width: 100%;
}

p {
  max-width: 272px;
}
.scroll {
    // z-index: 1011 !important;
    // position: relative;
    // padding-top: 1030px;
  border:1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-right: 16px;
  max-width: 608px;
//   height: 200px;
  min-height: 500px;
//   height: 600px;
  top: 0;
  overflow-y: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 1030px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 4px; 
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #585876;
}

.scroll::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.scroll {
  scrollbar-width: thin; 
  scrollbar-color: #8585ad #2F2F37; 
}
