.main {
  margin-top: 40px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // overflow: hidden;
}

.tab {
  margin-top: 20px;
}

.section {
  
  display: flex;
  flex-direction: column;
}

.h2 {
  margin-top: 40px;
}

.products {
 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
    max-width: 272px;
}