.main {
    margin-top: 40px;
}

.tab {
    margin-top: 20px ;
}

.section {
    margin-top: 40px;
}

.h2 {
    margin-bottom: 24px;
}

.products {
    display: flex;
    justify-content: space-between;
}