.main {
  margin-left: 40px;
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  min-height: 700px;
  flex-direction: column;
  // background-color: teal;
}

.all {
  display: flex;
  width: 100%;
  width: 620px;
  max-width: 650px;
  height: 100%;
  min-height: 656px;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  align-items: center;
  max-height: 650px;
  min-height: 100%;
  overflow-y: scroll;

  // background-color: red;
}

.price {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.elementContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 8px;
  width: 90%;
  // height: 100%;
  min-width: 580px;
  // min-height: 400px;
  // // cursor: pointer;
  // background-color: red;

  svg {
    cursor: pointer;
  }
}
.constructorElement {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 80px;
  margin-right: 10px;

  // background-color: green;
}

.yandexDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 600px;
  // overflow-y: scroll;
  // background-color: green;
  padding-right: 20px;
  height: 620px;
}
.scroll {
  // margi-right: 15px;
  margin-right: -10px;
  display: flex;
  // margin-bottom: -30px;
  justify-content: flex-start ;
  align-items: flex-end ;
  flex-direction: column;
  // background-color: yellow;
  overflow-y: scroll;
  gap: 10px;
  // margin-right: -25px;
  width: 100%;
  min-height: 430px;
  height: 440px;
  // height: 100%;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #585876;
  }
  &::-webkit-scrollbar-track {
    background-color: #2f2f37;
  }
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}
