@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf")
    format("woff");
}
a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
  position: relative;
  height: 88px;
  width: 100%;
  background-color: #1c1c21;
  /* background-color: yellow; */
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex-direction: row;
  font-family: "JetBrains Mono", Arial, Helvetica, sans-serif;
  // font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 1240px;
  // padding: 0px 20px;
  height: 56px;
  // background-color: gold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  //   background-color: red;
  padding: 0 20px;
  border-radius: 14px;
  &:hover {
    background-color: #35353f;
    // p {
    //   color: rgb(166, 208, 208);
    // }
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: JetBrains Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 8px;
  }
}

.a_logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
    height: 56px;
    // background-color: yellow;
}